{{ 'no-saints-newsletter.css' | asset_url | stylesheet_tag }}

<!-- Newsletter Section -->
<div class="newsletter center {% unless section.settings.full_width %}newsletter--narrow page-width{% endunless %}">
  <div class="newsletter__wrapper content-container{% if section.settings.full_width %} content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <h2 class="newsletter-title">
      {{ section.settings.heading | default: 'NEWSLETTER' }}
    </h2>
    <form method="post" action="/your-newsletter-signup-url" id="newsletter-form" class="newsletter-form">
      <input type="email" name="contact[email]" placeholder="{{ section.settings.email_placeholder | default: '' }}" required>
      <button type="submit" class="newsletter-form__button" name="commit" id="Subscribe" aria-label="{{ 'newsletter.button_label' | t }}">
        SIGN UP
      </button>
    </form>
  </div>
</div>  


{% schema %}
{
  "name": "Newsletter",
  "class": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full Width Layout",
      "default": false
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Section Heading",
      "default": "NEWSLETTER"
    },
    {
      "type": "text",
      "id": "email_placeholder",
      "label": "Email Placeholder",
      "default": "Your email"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding Top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Padding Bottom",
      "default": 20
    }
  ],
  "presets": [
    {
      "category": "NO Saints Newsletter",
      "name": "Newsetter No Saints"
    }
  ]
}
{% endschema %}
